/* Product Card */
.product-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card h3 {
  font-size: 1.6rem;
  margin-top: 10px;
  color: var(--primary-color);
}

.product-card p {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 10px 0;
}

.product-card .actions {
  display: flex;
  justify-content: center;

  gap: 10px;
}

.product-card button {
  align-self: center;
}
